@media screen and (max-width: 900px){
  .Products-container {
    grid-template-columns: repeat(4, 1fr);
  }

}

@media screen and (max-width: 750px){

  .Products-container {
    grid-template-columns:repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px){

  .Products-container {
    grid-template-columns:repeat(2, 1fr);
  }
}

@media screen and (max-width: 400px) {
  .nav-container {
    flex-direction: column;
  }
  .menu-section {
    flex-direction: column;
    width: 100%;
  }

  .menu-section a {
    margin-top: 20px;
    
  }
  .login-btn {
    width: 100%;
    margin-bottom: 10px;
  }
/* Nav responsive ends  */

/* Banner responsive starts */

  .banner-container{
    flex-direction: column;
  }
  .banner-info, .banner-img{
    width: 100%;
  }

  .banner-info p {
    font-size: 25px;
    font-family: "Dancing Script", cursive;
  }
  .banner-info h1 {
    font-size: 30px;
}
.fa-brands {
  font-size: 30px;

}
.banner-img{ margin-top: 10px;}


/* Banner responsive Ends */

/* product container start */
.Products-container {
  grid-template-columns: 1fr;
}
/* product container end */
}