@media screen and (max-width: 400px) {
  .nav-container {
    flex-direction: column;
  }
  .menu-section {
    flex-direction: column;
    width: 100%;
  }

  .menu-section a {
    margin-top: 20px;
    
  }
  .login-btn {
    width: 100%;
    margin-bottom: 10px;
  }
/* Nav responsive ends  */

/* Banner responsive starts */

  .banner-container{
    flex-direction: column;
  }
  .banner-info, .banner-img{
    width: 100%;
  }

  .banner-info p {
    font-size: 25px;
    font-family: "Dancing Script", cursive;
  }
  .banner-info h1 {
    font-size: 30px;
}
.fa-brands {
  font-size: 30px;

}
.banner-img{ margin-top: 10px;}